@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(165, 128, 175);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px; 
    height: auto;
  }
  
  .heading {
    font-size: 50px;
    margin-left: 10px;
    color: #ffff;
    font-family: 'Reggae One', cursive;
}
  
  .subline {
    font-size: 18px;
     margin-top: 10px; 
     margin-left: 50px;
     margin-right: 50px;
     text-align: center;
     color: #ffff;
    }
    .button {
        margin-top: 20px; 
     }
      
      .button a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #6c4c93;
        color: white;
        text-decoration: none;
        font-size: 18px; 
        border-radius: 5px;
      }
